@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This webapp was made by Raqeeb M. A.</p>
<p>It is not permissible to use this website for any kind of marketing or similar. It is only permissible to use it for private usage without making any earnings</p>
<br/>
<p>Don't use any data which may include private passwords or email and use for testing email: "test@email.com" and password: "password"</p>